.xmstock {
}

.xm-area-list {
    margin-bottom: 10px;
}

.xm-area-list img {
    max-width: 100%;
}

a.xm-area-image {
    margin: 10px 0 10px 0;
    display: block;
    text-align: center;
    max-height: 120px;
    min-height: 120px;
}
.xm-area-location {
    margin: 15px 0 5px 0;
}

.xm-stock-general-button {
    text-align: center;
	padding-top: 5px;
}
.xm-stock-general-bold {
    font-weight: bold;
}
.xm-stock-general-total {
    text-align: right;
	padding-top: 0px;
	padding-right: 18px;
}